.how{

padding:70px 20px;

min-height:100vh;

background:#f4fbff;

}

.how h1{

text-align:center;

color:#0EA5E9;

margin-bottom:50px;

}

.steps{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

max-width:1200px;

margin:auto;

}

.step{

background:white;

padding:30px;

text-align:center;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.step h2{

font-size:45px;

margin-bottom:20px;

}

.step h3{

margin-bottom:15px;

}

@media(max-width:900px){

.steps{

grid-template-columns:1fr;

}

}