.navbar{
    width:100%;
    background:white;
    box-shadow:0 2px 15px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:100;
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:75px;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#0077ff;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:#333;
    font-size:17px;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#0077ff;
}

.nav-links .active{
    color:#0077ff;
    border-bottom:3px solid #0077ff;
    padding-bottom:6px;
}

@media(max-width:768px){

.nav-container{
    flex-direction:column;
    height:auto;
    padding:20px;
}

.nav-links{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

}